<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MySql.Data" version="6.9.12" targetFramework="net461" />
  <package id="mySqlSugar" version="3.5.3.4" targetFramework="net461" />
  <package id="RestSharp" version="105.2.3" targetFramework="net461" />
  <package id="sqlSugar" version="3.5.3.1" targetFramework="net461" />
  <package id="SyntacticSugar" version="2.4.0" targetFramework="net461" />
</packages>